main {
	background: #1c1b22;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}

.icons-project a {
	color: #9e9e9e;
}

.icons-project a svg path{
	fill: #9e9e9e;
}